/* @font-face {
  font-family: 'Le Murmure_Regular';
  src:    url('./fonts/Le_Murmure-Regular_web.eot');
  src:    url('./fonts/Le_Murmure-Regular_web.eot?#iefix') format('embedded-opentype'),
          url('./fonts/Le_Murmure-Regular_web.woff') format('woff'),
          url('./fonts/Le_Murmure-Regular_web.woff2') format('woff2'),
          url('./fonts/Le_Murmure-Regular_web.ttf') format('truetype');
         
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: 'Gangster Grotesk Regular';
  src:    url('./fonts/gangstergrotesk-regular.eot');
  src:    url('./fonts/gangstergrotesk-regular.woff') format('woff'),
          url('./fonts/gangstergrotesk-regular.woff2') format('woff2'),
          url('./fonts/gangstergrotesk-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Porpora-Regular";
  src: url("./fonts/Porpora-Regular.woff2") format("woff2"),
       url("./fonts/Porpora-Regular.woff2") format("woff");
}


@font-face {
  font-family: 'Compagnon Regular';
  src:    url('./fonts/Compagnon-Roman.eot');
  src:    url('./fonts/Compagnon-Roman.woff') format('woff'),
          url('./fonts/Compagnon-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Compagnon Bold';
  src:    url('./fonts/Compagnon-Bold.eot');
  src:    url('./fonts/Compagnon-Bold.woff') format('woff'),
          url('./fonts/Compagnon-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Compagnon Medium';
  src:    url('./fonts/Compagnon-Medium.eot');
  src:    url('./fonts/Compagnon-Medium.woff') format('woff'),
          url('./fonts/Compagnon-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}


@font-face {
  font-family: "Syne Regular";
  src: url('./fonts/Syne-Regular.eot');
  src: url('./fonts/Syne-Regular.woff') format('woff'),
       url('./fonts/Syne-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "YoungSerif";
  src: url('./fonts/YoungSerif-Regular.eot');
  src: url('./fonts/YoungSerif-Regular.woff') format('woff'),
       url('./fonts/YoungSerif-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
}


/* h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
} */
h1{
   padding: 0;
  font-size: 35px;
  font-family: 'Porpora-Regular';
  line-height: 1;
  letter-spacing: 0.1em;
}

body{

background-color: rgb(255, 232, 209, .7);
height: 100vh;
color: rgba(9, 8, 8, 0.886);
/* color:rgb(252, 68, 15); */
 /* color: rgb(69, 69, 69); */

 /* color:#C94277; */
 /* color:)rgb(218, 191, 255, .7) */
}

span{
  /* font-weight: bold;
  font-style: normal;
  /* position: relative; */
  /* text-decoration: none; */
  /* z-index: 1; */
  /* background: linear-gradient(180deg, transparent 62%, #ffd3c4 0) 50%/0 75% no-repeat;
  background-size: 0px 75%;
  background-size: 100% 100%; */
  /* display: inline; */
  /* margin: 0;
  padding: 0; */ 
}

.highlight{

  background: linear-gradient(180deg, transparent 62%, rgb(175, 163, 255, .3) 0) 50%/0 25% no-repeat;
  /* background: linear-gradient(180deg, transparent 62%, rgb(201, 66, 119) 0) 50%/0 25% no-repeat; */
  background-size: 0px 75%;
  background-size: 100% 100%;
}


.highlight:hover{
  font-family: 'Porpora-Regular';
  letter-spacing: 0.2em;
  color:rgb(252, 68, 15);
  cursor: pointer;
  display: inline;
  z-index: 1;
  background: linear-gradient(180deg, transparent 62%, rgb(175, 163, 255, .5) 0) 50%/0 25% no-repeat;
  /* background: linear-gradient(180deg, transparent 62%, rgb(201, 66, 119) 0) 50%/0 25% no-repeat; */
  background-size: 0px 75%;
  background-size: 100% 100%;
}

.rose{
  height: 60px;
}

.intro{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-top: 2%;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

a{
  /* color:rgb(252, 68, 15, .9); */
color: rgba(9, 8, 8, 0.886);
transition: color .3s; 
cursor: pointer;
text-decoration: none;
}

.nav-container{
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 20px;
  width: 100vw;
  
}
.nav-link{
  font-family: 'YoungSerif';
  margin: 0 40px 0 0 ;
  font-size: 30px;
}

.nav-link:hover{
  letter-spacing: 0.2em;
  color:rgb(252, 68, 15);
  cursor: pointer;
  display: inline;
  z-index: 1;
  background: linear-gradient(180deg, transparent 62%, rgb(175, 163, 255, .5) 0) 50%/0 25% no-repeat;
  /* background: linear-gradient(180deg, transparent 62%, rgb(201, 66, 119) 0) 50%/0 25% no-repeat; */
  background-size: 0px 75%;
  background-size: 100% 100%;
}

/* /*--Project Component--*\ */

.project-container{
 
  /* left: 0;
  top: 0; */

  background-color: rgb(201, 194, 245);
}
.project-container, #show-page{
height: 100vh;
width: 100vw;
position: fixed;
z-index: 1;
right: 0;
top: 0;
overflow-x: hidden;
z-index: 1;
display: flex;

}

.project-list{
  margin: 40px;
  flex: 1;
  border: 1px solid black;
}

.project-list h1:hover{
  font-family: 'Porpora-Regular';
  letter-spacing: 0.2em;
  color:rgb(252, 68, 15);
  cursor: pointer;
  display: inline;
  z-index: 1;
  background: linear-gradient(180deg, transparent 62%, rgb(255, 232, 209, .7) 0) 50%/0 25% no-repeat;
  /* background: linear-gradient(180deg, transparent 62%, rgb(201, 66, 119) 0) 50%/0 25% no-repeat; */
  background-size: 0px 75%;
  background-size: 100% 100%;
}

.close-btn{
  background-color: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
  text-decoration: none;
  outline:none;
  position: fixed;
  right: 0;
  padding: 10px;
}

.project-show{
flex-grow:1;
border: 1px solid black;
margin: 40px;
}